@import "reset.css";

.container {
  background: url(../img/background1.jpg) center/cover no-repeat;
  width: 100%;
}
.body_container {
  width: 1025px;
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
}
.header_title {
  display: flex;
  padding-top: 51px;
  justify-content: space-between;
}
.home_link {
  display: flex;
  position: relative;
  text-decoration: none;
}
.logo {
  background-image: url(../img/logo3.png);
  width: 53px;
  height: 47px;
}
.home_link:hover .logo {
  background: url(../img/logo2.png);
}
.title {
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  padding-left: 8px;
}
.title_first {
  font-size: 29px;
  text-decoration: none;
}
.home_link:hover .title {
  color: #f26522;
}
.contacts {
  text-align: end;
  line-height: 37px;
}
.contacts_items {
  color: white;
  text-decoration: none;
}
.contacts_items:hover {
  color: #f26522;
}
.posts {
  display: grid;
  grid-template: repeat(2, 300px) / repeat(3, 300px);
  /* justify-content: center; */
  grid-column-gap: 60px;
  /* text-align: center; */
}

.posts_tours {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: 18px;
  color: #ffffff;
  padding-top: 20px;
  /* align-items: center; */
}
.post_footer {
  display: none;
  position: absolute;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
  width: 300px;
  height: 55px;
  background-color: #f26522;
}
.post_item:hover .post_footer {
  display: block;
}
.post_from {
  display: block;
  margin-left: 16px;
  margin-top: 7px;
  font-size: 10px;
  line-height: 10px;
}
.post_text {
  display: flex;
  justify-content: space-between;
  margin: 8px 2px 12px 16px;
}
.post_price {
  font-size: 20px;
  line-height: 20px;
  font-weight: 300;
}
.post_details {
  font-size: 14px;
  line-height: 14px;
  font-weight: 300;
  margin-top: 5px;
}
.post_details::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 14px;
  background: url("../img/arrow.png") no-repeat;
  vertical-align: middle;
  margin-left: 8px;
}
.post_item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}
.post_element {
  display: flex;
  position: relative;
}
.footer_copyright {
  text-align: center;
  font-size: 12px;
  line-height: 12px;
  color: white;
  padding: 15px 0 25px;
}
